body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0px;

    font-family: sans-serif;
    background-color: #222;  
    color: #BBB
}

h1 {
    color: #EEE;
}

h2, h3, h4 {
    color: #CCC;
}

a {
    color: orange;
}

.inline-container {
    background-color: #444;
}

.container, h1 {
    background-color: #444;
}

form  div.buttons input {
    background-color: #333;
    color: white;
}

.slider {
    background: #BBB;
}

.slider:hover {
    background: #BFBFBF;
}

.download-link {
    background-color: #333;
    color: white;
}

table.patchnotes tr:hover {
    background-color: #555;
}

.return-to-the-top {
    background-color: rgba(255, 255, 255, 0.1);
}