body {
    --active-color: #6B317B;
    --lighter-active-color: rgb(127, 57, 146);
    --darker-active-color: rgb(81, 37, 94);

    --hover-color: #555;
    --darker-hover-color: #444;
    --lighter-hover-color: #666;

    --index-color: #444;

    --navbar-color: #333;
    --lighter-navbar-color: #444;

    --bg-color: #CCC;
    --fg-color: #DDD;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0px;

    font-family: sans-serif;
    background-color: var(--bg-color);   
}

body.theme-b {
    --active-color: rgb(143, 41, 41);
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    flex-grow: 1;
}


p {
    line-height: 2em;
}



.navbar {
    position: relative;
    width: 100%;
    background-color: var(--navbar-color);
}

.navbar a {
    float: left;
    padding: 16px 32px;

    font-size: 1.25em;
    color: white;
    text-align: center;
    text-decoration: none;
    
    transition: background-color 0.1s;
}

.navbar a:hover {
    background-color: var(--lighter-hover-color);
}
.navbar a:active {
    background-color: var(--darker-hover-color);
}

.active {
    background-color: var(--active-color) !important;
}

.active:hover {
    background-color: var(--lighter-active-color) !important;
}

.navbar .index {
    float: left;
    padding: 16px 40px;
    
    background-color: var(--index-color);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}



.sub-navbar {
    width:100%;
    overflow: hidden;
    background-color: var(--lighter-navbar-color);
}

.sub-navbar a {
    float: left;
    padding: 7px 8px;
    color: lightgrey;
    text-align: center;
    text-decoration: none;
}

.sub-navbar a:hover {
    background-color: var(--hover-color);
}


table.patchnotes {
    border-collapse: collapse; /* pour rendre les cellules plus jolies */
}

table.patchnotes,
table.patchnotes th,
table.patchnotes td {
    border: 1px solid #888;
}

table.patchnotes th {
    color: #EEE;
    border: none;
    background: var(--lighter-active-color);
    border-bottom: 5px solid var(--darker-active-color);
    text-emphasis: none;
}

table.patchnotes th:first-child {
    width: 150px;
}
table.patchnotes th:last-child {
    width: 400px;
}

table.patchnotes td {
    padding: 4px;
}

table.patchnotes tr:hover {
    background-color: #DFDFDF;
}


footer {
    display: flexbox;

    background-color: #333;
}

footer a  {
    display: block;
    text-align: center;

    padding: 10px;
    color: #CCC;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

table.presentation td {
    padding: 3px;
}

.top {
    vertical-align: top;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

img {
    border-radius: 4px;
}


h1 {
    text-align: center;
    font-size: 3em;
    color: #111;
}

table.presentation h2 {
    font-size: 2.5em;
    font-weight: lighter;
    color: #333;
}

.container {
    padding: 20px 20px;
    margin: 40px 0px;
    border-radius: 25px;
    background-color: var(--fg-color);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

table.presentation h2, p {
    margin: 25px 5px;
}

table.presentation a {
    text-decoration: none;
}

table.presentation a:hover {
    text-decoration: underline;
}

table.presentation td {
    table-layout: fixed;
    width: 200px;
}
