body {
    --active-color: #6B317B;
    --lighter-active-color: rgb(127, 57, 146);
    --darker-active-color: rgb(81, 37, 94);

    --hover-color: #555;
    --darker-hover-color: #444;
    --lighter-hover-color: #666;

    --index-color: #444;

    --navbar-color: #333;
    --lighter-navbar-color: #444;

    --bg-color: #CCC;
    --darker-bg-color: #BEBEBE;

    --fg-color: #DDD;

    --title-color: #111;
    --subtitle-color: #222;
    --paragraph-color: #444;

    --link-color: blue;

    --gold-t: #FCF995;
    --red-t: #8B1627;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0px;

    font-family: sans-serif;
    background-color: var(--bg-color);  
    color: var(--paragraph-color); 
}



body.theme-b {
    --bg-color: #222;
    --fg-color: #444;

    --title-color: #EEE;
    --subtitle-color: #CCC;
    --paragraph-color: #BBB;
    --link-color: orange;
}

section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    flex-grow: 1;
}




p, li {
    font-size: 1.25em;
    line-height: 1.5em;
}

p {
    text-align: justify;
}


.navbar {
    position: relative;
    width: 100%;
    background-color: var(--navbar-color);
}

.navbar a {
    float: left;
    padding: 16px 32px;

    font-size: 1.25em;
    color: white;
    text-align: center;
    text-decoration: none;
    
    transition: background-color 0.1s;
}

.navbar a:hover {
    background-color: var(--lighter-hover-color);
}
.navbar a:active {
    background-color: var(--darker-hover-color);
}

.active {
    background-color: var(--red-t) !important;
}

.active:hover {
    opacity: 0.9 !important;
}

.navbar .index {
    padding: 16px 40px;
    
    background-color: var(--index-color);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar ul {
    padding: 0px;
    margin: 0px 0px;
}

.navbar ul li {
    display: inline;
}



.sub-navbar {
    width:100%;
    overflow: hidden;
    background-color: var(--lighter-navbar-color);
}

.sub-navbar a {
    float: left;
    padding: 7px 8px;
    color: lightgrey;
    text-align: center;
    text-decoration: none;
}

.sub-navbar a:hover {
    background-color: var(--hover-color);
}

@media(max-width: 1086px) {

    .navbar a, .sub-navbar a {
        display: block;
        float: none;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 3em;
    }
}


table.patchnotes {
    width: 600px;
    table-layout: fixed;
    border-collapse: collapse; /* pour rendre les cellules plus jolies */
}

table.patchnotes,
table.patchnotes th,
table.patchnotes td {
    border: 1px solid #888;
}

table.patchnotes th {
    color: #EEE;
    border: none;
    background: var(--red-t);
    text-emphasis: none;
}

table.patchnotes th:first-child {
    width: 150px;
}
table.patchnotes th:last-child {
    width: 400px;
}

table.patchnotes td {
    padding: 4px;
}

table.patchnotes tr:hover {
    background-color: var(--darker-bg-color);
}


footer {
    display: flexbox;
    text-align: center;

    background-color: #333;
}

footer a {
    display: inline-block;
    text-align: center;

    padding: 10px;
    color: #CCC;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

table.presentation td {
    padding: 3px;
}

.top {
    vertical-align: top;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

img {
    border-radius: 4px;
    display: block;
    width: 100%;
}

li {
    line-height: 1.3em;
}

h1 {
    margin: 40px 20px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    color: var(--title-color);
}

h2 {
    font-size: 2.25em;
    font-weight: lighter;
    color: var(--subtitle-color);
}

h3 {
    font-size: 1.69em;
    font-weight: lighter;
    color: var(--subtitle-color);
}

.inline-container {
    display: inline-table;

    padding: 20px 20px;
    margin: 40px 10px;
    background-color: var(--fg-color);

    overflow: hidden;
}

.container {
    display: block;

    padding: 20px 20px;
    margin: 40px 0px;
    background-color: var(--fg-color);

    overflow: hidden;
}

iframe {
    border-radius: 10px;
}

a {
    color: var(--link-color);
}

form {
    line-height: 2em;
}

form div {
    margin: 20px 0px;
}

form div input, form div textarea, form div label {
    display: block;
    width: 100%;
    text-align: center;
}

form div.buttons {
    display: flex;
}

form  div.buttons input {
    display: inline-flex;
    text-align: center;
}

.switch-theme:hover {
    cursor: pointer;
}

#feedback-field {
    font-family: sans-serif;
}

.slider {
    appearance: none;
    -webkit-appearance: none; /* override */

    background: #BBB;
    border-radius: 5px;
    overflow: hidden;
}

.slider:hover {
    background: #BFBFBF;
    transition: background 0.1s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 16px;
    background: var(--active-color);
    cursor: pointer;
    transition: background 0.1s;
}

.slider::-webkit-slider-thumb:hover {
    background: var(--lighter-active-color);
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--active-color);
    cursor: pointer;
    transition: background 0.2s;
}

.download-link {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 4px;
    margin: 2px;
}

.download-link:hover {
    opacity: 0.8;
}

hr {
    border-color: var(--gold-t);
}