body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;

    --active-color: #6B317B;
    --lighter-active-color: rgb(127, 57, 146);
    --darker-active-color: rgb(81, 37, 94);

    --hover-color: #555;
    --darker-hover-color: #444;
    --lighter-hover-color: #666;

    --index-color: #444;

    --navbar-color: #333;
    --lighter-navbar-color: #444;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    flex-grow: 1;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: var(--navbar-color);
}

.navbar a {
    float: left;
    padding: 16px 32px;

    font-size: 1.25em;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--lighter-hover-color);
}
.navbar a:active {
    background-color: var(--darker-hover-color);
}

.active {
    background-color: var(--active-color) !important;
}

.active:hover {
    background-color: var(--lighter-active-color) !important;
}

.navbar .index {
    float: left;
    padding: 16px 40px;
    
    background-color: var(--index-color);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}



.sub-navbar {
    width:100%;
    overflow: hidden;
    background-color: var(--lighter-navbar-color);
}

.sub-navbar a {
    float: left;
    padding: 7px 8px;
    color: lightgrey;
    text-align: center;
    text-decoration: none;
}

.sub-navbar a:hover {
    background-color: var(--hover-color);
}


table {
    border-collapse: collapse; /* pour rendre les cellules plus jolies */
}

table,th, td {
    border: 1px solid #888;
}

th {
    color: #EEE;
    border: none;
    background: var(--lighter-active-color);
    border-bottom: 5px solid var(--darker-active-color);
    text-emphasis: none;
}

table th:first-child {
    width: 150px;
}
table th:last-child {
    width: 400px;
}

td {
    padding: 4px;
}

table tr:hover {
    background-color: #DFDFDF;
}


footer {
    display: flexbox;

    background-color: #333;
}

footer a  {
    display: block;
    text-align: center;

    padding: 10px;
    color: #CCC;
    text-decoration: none;
}

footer a:hover {
    color: white;
}